@charset "UTF-8";
/*
    font face
 */
@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff");
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.woff");
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff");
}

/*
    color
 */
/*
    shadow
 */
/*
    general style
 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  background: #0e2258;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1365px) {
  .container {
    width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 979px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 94%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
    min-width: 290px;
  }
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

a:active, a:focus {
  outline: none;
}

img {
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1, h2, h3, h4, h5, h6, span {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  line-height: 1;
}

h1, h2 {
  font-size: 64px;
  text-transform: uppercase;
  color: #00f0ff;
  text-align: center;
  width: 180px;
  padding: 64px 0 50px;
  background: #346bfa;
  -webkit-box-shadow: 0 0 20px 2px rgba(15, 38, 116, 0.5);
          box-shadow: 0 0 20px 2px rgba(15, 38, 116, 0.5);
  border-radius: 50%;
  position: absolute;
}

h3 {
  font-size: 36px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  h3 {
    font-size: 31px;
  }
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  color: #a2bcff;
}

p.big {
  font-size: 20px;
  line-height: 22px;
}

p.title {
  font-size: 34px;
  line-height: 34px;
  color: #fff;
}

@media (max-width: 767px) {
  p.title {
    font-size: 27px;
    line-height: 27px;
  }
}

span.old-price {
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 36px;
  color: #a2bcff;
  display: inline-block;
  position: relative;
}

span.old-price:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #a2bcff;
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

span.new-price {
  font-size: 64px;
  color: #faff00;
}

.ellipse {
  background: #346bfa;
  -webkit-box-shadow: 0 0 20px 2px rgba(15, 38, 116, 0.5);
          box-shadow: 0 0 20px 2px rgba(15, 38, 116, 0.5);
  border-radius: 50%;
  position: absolute;
}

.to-order a, .to-order button, form .form-group.order a, form .form-group.order button {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5px rgba(15, 38, 116, 0.3);
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 2px rgba(15, 38, 116, 0.5);
          box-shadow: 0 0 20px 2px rgba(15, 38, 116, 0.5);
  border: none;
  position: relative;
  -webkit-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  z-index: 20;
}

.to-order a:before, .to-order a:after, .to-order button:before, .to-order button:after, form .form-group.order a:before, form .form-group.order a:after, form .form-group.order button:before, form .form-group.order button:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.to-order a:before, .to-order button:before, form .form-group.order a:before, form .form-group.order button:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#faff00), to(#ff8a00));
  background: -o-linear-gradient(top, #faff00 0%, #ff8a00 100%);
  background: linear-gradient(180deg, #faff00 0%, #ff8a00 100%);
}

.to-order a:after, .to-order button:after, form .form-group.order a:after, form .form-group.order button:after {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8a00), to(#faff00));
  background: -o-linear-gradient(top, #ff8a00 0%, #faff00 100%);
  background: linear-gradient(180deg, #ff8a00 0%, #faff00 100%);
  opacity: 0;
}

.to-order a:hover:after, .to-order button:hover:after, form .form-group.order a:hover:after, form .form-group.order button:hover:after {
  opacity: 1;
}

.to-order {
  max-width: 320px;
}

.to-order a {
  padding: 27px 0 19px;
}

.to-order h6 {
  position: absolute;
}

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

form .form-group {
  width: 260px;
}

form .form-group input {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #445170;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 27px 20px 11px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(15, 38, 116, 0.3);
          box-shadow: 0 0 5px rgba(15, 38, 116, 0.3);
  border-radius: 5px;
  border: none;
}

form .form-group input::-webkit-input-placeholder {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #445170;
  opacity: 1;
}

form .form-group input::-moz-placeholder {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #445170;
  opacity: 1;
}

form .form-group input:-ms-input-placeholder {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #445170;
  opacity: 1;
}

form .form-group input::-ms-input-placeholder {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #445170;
  opacity: 1;
}

form .form-group input::placeholder {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #445170;
  opacity: 1;
}

form .form-group input:active, form .form-group input:focus, form .form-group input:required {
  outline: none;
}

form .form-group.tel {
  margin: 0 20px;
}

@media (max-width: 1199px) {
  form .form-group.tel {
    margin: 0;
  }
}

form .form-group.order {
  margin-left: auto;
}

@media (max-width: 1199px) {
  form .form-group.order {
    margin: 20px auto 0;
  }
}

form .form-group.order button {
  padding: 20px 0 11px;
}

.gallery, .photo {
  padding: 67px 0 91px;
}

.gallery__content, .photo__content {
  position: relative;
  width: calc(100% + 60px);
  left: -28px;
}

@media (max-width: 1365px) {
  .gallery__content, .photo__content {
    width: 100%;
    left: 0;
  }
}

.gallery__content a, .photo__content a {
  -webkit-box-shadow: 0 0 20px 2px rgba(15, 38, 116, 0.5);
          box-shadow: 0 0 20px 2px rgba(15, 38, 116, 0.5);
}

.gallery__content a img, .photo__content a img {
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

.gallery__content figure, .photo__content figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__content figure.top a, .gallery__content figure.bottom a, .photo__content figure.top a, .photo__content figure.bottom a {
  width: 23%;
  min-width: 300px;
}

@media (max-width: 1365px) {
  .gallery__content figure.top a, .gallery__content figure.bottom a, .photo__content figure.top a, .photo__content figure.bottom a {
    width: 24%;
    min-width: auto;
  }
}

.gallery__content figure.middle, .photo__content figure.middle {
  margin: 20px auto;
}

.gallery__content figure.middle a, .photo__content figure.middle a {
  width: 49%;
  min-width: 620px;
}

@media (max-width: 1365px) {
  .gallery__content figure.middle a, .photo__content figure.middle a {
    min-width: auto;
  }
}

.gallery__content a, .photo__content a, .catalog__block-img__photo figure a {
  position: relative;
  border-radius: 5px;
}

.gallery__content a img, .photo__content a img, .catalog__block-img__photo figure a img {
  width: 100%;
  border-radius: inherit;
  -webkit-transition: all 0.65s ease-in-out;
  -o-transition: all 0.65s ease-in-out;
  transition: all 0.65s ease-in-out;
}

.gallery__content a:after, .photo__content a:after, .catalog__block-img__photo figure a:after {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background: url("../img/zoom.png") no-repeat center/cover;
  position: absolute;
  bottom: 25px;
  right: 25px;
  opacity: 0;
  -webkit-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.gallery__content a:hover img, .photo__content a:hover img, .catalog__block-img__photo figure a:hover img {
  opacity: .55;
}

.gallery__content a:hover:after, .photo__content a:hover:after, .catalog__block-img__photo figure a:hover:after {
  opacity: 1;
}

/*
    header style
 */
.header {
  background: url("../img/header/header-bg.png") no-repeat center/cover, -webkit-gradient(linear, left top, right top, from(#203dd7), to(#052441));
  background: url("../img/header/header-bg.png") no-repeat center/cover, -o-linear-gradient(left, #203dd7 0%, #052441 100%);
  background: url("../img/header/header-bg.png") no-repeat center/cover, linear-gradient(90deg, #203dd7 0%, #052441 100%);
  padding: 50px 0 61px;
  position: relative;
}

@media (max-width: 979px) {
  .header {
    padding: 23px 0 48px;
  }
}

.header__content {
  position: relative;
}

@media (max-width: 979px) {
  .header__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__content img.logo {
  margin-left: 41.5%;
}

@media (max-width: 979px) {
  .header__content img.logo {
    margin: 0 auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header__content p.title {
  margin: 20px 0 87.3px 41.5%;
}

@media (max-width: 1199px) {
  .header__content p.title {
    position: relative;
    z-index: 11;
  }
}

@media (max-width: 979px) {
  .header__content p.title {
    margin: 10px auto -68px;
    text-align: center;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .header__content p.title {
    margin-bottom: -8%;
  }
}

.header__content-img {
  position: relative;
  position: absolute;
  top: -95px;
  left: 0;
}

@media (max-width: 1199px) {
  .header__content-img {
    top: 0;
    left: -30px;
  }
}

@media (max-width: 979px) {
  .header__content-img {
    position: relative;
    top: 0;
    left: 0;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 767px) {
  .header__content-img {
    max-width: 644px;
  }
}

.header__content-img img {
  position: relative;
  z-index: 9;
}

@media (max-width: 767px) {
  .header__content-img img {
    width: 100%;
  }
}

.header__content-img h1 {
  bottom: -65px;
  right: 124px;
}

@media (max-width: 979px) {
  .header__content-img h1 {
    bottom: -25px;
    right: 75px;
  }
}

@media (max-width: 767px) {
  .header__content-img h1 {
    right: 0;
  }
}

.header__content-img .ellipse {
  width: 250px;
  height: 250px;
  bottom: -34px;
  right: calc(100% - 39px);
}

@media (max-width: 979px) {
  .header__content-img .ellipse {
    width: 67px;
    height: 67px;
    top: 48px;
    right: 15px;
  }
}

.header__content .to-order {
  margin-left: 34.25%;
}

@media (max-width: 1199px) {
  .header__content .to-order {
    margin-left: calc(41.5% + 120px);
  }
}

@media (max-width: 979px) {
  .header__content .to-order {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
    margin: 0 auto 56px;
    width: 320px;
  }
}

.header__content .to-order h6 {
  bottom: 210px;
  left: 103px;
}

@media (max-width: 1199px) {
  .header__content .to-order h6 {
    text-align: center;
    position: static;
    margin-top: 10px;
  }
}

.header__content .price {
  margin: 57px 0 241px 41.5%;
}

@media (max-width: 1199px) {
  .header__content .price {
    margin: 57px 0 241px calc(41.5% + 156px);
  }
}

@media (max-width: 979px) {
  .header__content .price {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    margin: -75px 0 21px;
  }
}

.header__content .price span.new-price {
  display: block;
}

.header__content ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 91px;
}

@media (max-width: 979px) {
  .header__content ul {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
    padding: 0;
  }
}

@media (max-width: 979px) {
  .header__content ul {
    display: block;
    max-width: 440px;
    margin: 0 auto;
  }
}

.header__content ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
  position: relative;
}

.header__content ul li p {
  color: #fff;
  width: 218px;
}

@media (max-width: 979px) {
  .header__content ul li p {
    width: auto;
  }
}

.header__content ul li:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#faff00), to(#ff8a00));
  background: -o-linear-gradient(top, #faff00 0%, #ff8a00 100%);
  background: linear-gradient(180deg, #faff00 0%, #ff8a00 100%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__content ul li:nth-child(2) {
  margin: 0 auto;
}

@media (max-width: 979px) {
  .header__content ul li:nth-child(2) {
    margin: 33px auto;
  }
}

.header:after {
  /* скрыть на xl */
  content: "";
  display: block;
  width: 480px;
  height: 100%;
  background: url("../img/header/man.png") no-repeat center/cover;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1899px) {
  .header:after {
    right: -280px;
  }
}

@media (max-width: 1365px) {
  .header:after {
    display: none;
  }
}

/*
    video style
 */
.video {
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 92px 0 98px;
  position: relative;
}

@media (max-width: 979px) {
  .video {
    padding-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .video {
    padding-top: 158px;
  }
}

.video__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 1199px) {
  .video__content {
    display: block;
  }
}

.video__content-block {
  width: 600px;
  margin-top: 269px;
  position: relative;
}

@media (max-width: 1199px) {
  .video__content-block {
    margin: 269px auto 38px;
  }
}

@media (max-width: 767px) {
  .video__content-block {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 38px;
  }
}

.video__content-block figure.clip {
  position: relative;
  height: 380px;
  border-radius: 5px;
  cursor: pointer;
}

.video__content-block figure.clip img {
  border-radius: inherit;
}

.video__content-block figure.clip iframe {
  z-index: 20;
}

.video__content-block figure.clip .video-play {
  width: 61px;
  height: 60px;
  background: url("../img/video/video-play.png") no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 11;
  pointer-events: none;
}

.video__content-block figure.clip:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(31, 55, 115, 0.4)), to(rgba(31, 55, 115, 0.4)));
  background: -o-linear-gradient(bottom, rgba(31, 55, 115, 0.4), rgba(31, 55, 115, 0.4));
  background: linear-gradient(0deg, rgba(31, 55, 115, 0.4), rgba(31, 55, 115, 0.4));
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  -webkit-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  pointer-events: none;
}

.video__content-block figure.clip:hover:after {
  opacity: 0;
}

.video__content-block:before {
  content: "";
  display: block;
  width: 800px;
  height: 564px;
  background: url("../img/video/man.png") no-repeat center/cover;
  position: absolute;
  top: -384px;
  left: -158px;
}

@media (max-width: 767px) {
  .video__content-block:before {
    width: 385px;
    height: 272px;
    top: -189px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.video__content-text {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 21px 0 66px;
}

@media (max-width: 1199px) {
  .video__content-text {
    width: 100%;
  }
}

@media (max-width: 979px) {
  .video__content-text {
    padding: 0;
  }
}

.video__content-text > p {
  margin: 13px auto 40px;
}

.video__content-text ul {
  margin-left: 48px;
}

@media (max-width: 767px) {
  .video__content-text ul {
    margin-left: 0;
  }
}

.video__content-text ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  position: relative;
  margin-bottom: 25px;
}

.video__content-text ul li:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #faff00;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 0;
}

.video__content-text ul li:last-child {
  margin-bottom: 0;
}

.video__content:after {
  /* скрыть на lg */
  content: "";
  display: block;
  width: 735px;
  height: 211px;
  background: url("../img/big-logo.png") no-repeat center/cover;
  position: absolute;
  bottom: -64px;
  right: -233px;
}

@media (max-width: 1899px) {
  .video__content:after {
    width: 635px;
    height: 182px;
    right: -75px;
  }
}

@media (max-width: 1365px) {
  .video__content:after {
    width: 535px;
    height: 154px;
    right: 0;
  }
}

@media (max-width: 1199px) {
  .video__content:after {
    display: none;
  }
}

.video:before {
  content: "";
  display: block;
  width: 312px;
  height: 499px;
  background: url("../img/video/1.png") no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .video:before {
    width: 103px;
    height: 164px;
  }
}

/*
    gallery start
 */
.gallery {
  padding-bottom: 64px;
}

@media (max-width: 979px) {
  .gallery {
    padding: 32px 0 16px;
  }
}

/*
    spray start
 */
.spray {
  position: relative;
}

.spray__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .spray__content {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 979px) {
  .spray__content {
    display: block;
  }
}

.spray__content-img {
  width: 344px;
}

@media (max-width: 979px) {
  .spray__content-img {
    margin: 0 auto 23px;
  }
}

.spray__content-img img {
  width: 100%;
}

.spray__content-text {
  margin-top: 116px;
  width: calc(100% - 378px);
}

@media (max-width: 1199px) {
  .spray__content-text {
    margin-top: 0;
  }
}

@media (max-width: 979px) {
  .spray__content-text {
    width: 100%;
  }
}

.spray__content-text p {
  max-width: 669px;
  margin: 10px 0 20px;
}

@media (max-width: 979px) {
  .spray__content-text p {
    max-width: 100%;
  }
}

.spray__content-text h4 {
  text-transform: uppercase;
  max-width: 520px;
}

@media (max-width: 979px) {
  .spray__content-text h4 {
    max-width: 100%;
  }
}

.spray__content-text h4 span {
  font-size: 36px;
  color: #faff00;
}

.spray__content-text form {
  margin-top: 21px;
}

@media (max-width: 1199px) {
  .spray__content-text form {
    max-width: 540px;
  }
}

@media (max-width: 979px) {
  .spray__content-text form {
    margin: 32px auto 0;
  }
}

.spray:after {
  /* скрыть на xl */
  content: "";
  display: block;
  width: 268px;
  height: 298px;
  background: url("../img/1.png") no-repeat center/cover;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1899px) {
  .spray:after {
    right: -25px;
  }
}

@media (max-width: 1365px) {
  .spray:after {
    display: none;
  }
}

/*
    catalog style
 */
.catalog {
  padding: 155px 0 103px;
  position: relative;
}

@media (max-width: 979px) {
  .catalog {
    padding: 62px 0 52px;
  }
}

.catalog h3 {
  text-align: center;
  margin-bottom: 92px;
}

@media (max-width: 979px) {
  .catalog h3 {
    margin-bottom: 41px;
  }
}

.catalog__block {
  position: relative;
}

.catalog__block h4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#faff00), to(#ff8a00));
  background: -o-linear-gradient(top, #faff00 0%, #ff8a00 100%);
  background: linear-gradient(180deg, #faff00 0%, #ff8a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #faff00;
  text-transform: uppercase;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .catalog__block h4 {
    background: transparent;
  }
}

.catalog__block ul {
  margin: 20px auto;
}

.catalog__block ul li p {
  line-height: 30px;
}

.catalog__block ul li p strong {
  display: inline-block;
  width: 205px;
}

@media (max-width: 1199px) {
  .catalog__block ul li p strong {
    width: 190px;
  }
}

@media (max-width: 979px) {
  .catalog__block .price {
    margin-bottom: 55px;
  }
}

.catalog__block .price span.old-price {
  font-size: 24px;
  line-height: 24px;
}

.catalog__block .price span.new-price {
  font-size: 48px;
  line-height: 48px;
}

.catalog__block-img {
  position: relative;
  position: absolute;
  right: -36px;
}

@media (max-width: 1199px) {
  .catalog__block-img {
    right: 0;
  }
}

@media (max-width: 979px) {
  .catalog__block-img {
    position: relative;
  }
}

.catalog__block-img figure .ellipse {
  z-index: -1;
}

.catalog__block-img > figure {
  position: absolute;
}

@media (max-width: 1199px) {
  .catalog__block-img > figure {
    display: none;
  }
}

@media (max-width: 979px) {
  .catalog__block-img > figure {
    display: block;
  }
}

.catalog__block-img > figure .ellipse {
  width: 350px;
  height: 350px;
}

.catalog__block-img__photo {
  width: 442px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 979px) {
  .catalog__block-img__photo {
    margin-left: auto;
  }
}

.catalog__block-img__photo figure {
  width: 49%;
  max-width: 216px;
}

.catalog__block-img__photo figure:nth-child(1) a:nth-child(2) {
  margin: 10px auto;
}

.catalog__block-img__photo figure:nth-child(1) .ellipse {
  width: 200px;
  height: 200px;
}

.catalog__block-img__photo figure:nth-child(2) a:nth-child(1) {
  margin-bottom: 10px;
}

.catalog__block-img__photo figure:nth-child(2) .ellipse {
  width: 150px;
  height: 150px;
}

.catalog__block form {
  margin: 50px auto 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 36px;
}

@media (max-width: 1365px) {
  .catalog__block form {
    padding: 0;
  }
}

@media (max-width: 1199px) {
  .catalog__block form {
    max-width: 840px;
  }
}

@media (max-width: 767px) {
  .catalog__block form {
    max-width: 540px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 979px) {
  .catalog__block form .form-group {
    width: 230px;
  }
}

@media (max-width: 767px) {
  .catalog__block form .form-group {
    width: 260px;
  }
}

@media (max-width: 979px) {
  .catalog__block form .form-group.order {
    width: 260px;
  }
}

@media (max-width: 767px) {
  .catalog__block form .form-group.order {
    margin: 20px 0 0 auto;
  }
}

.catalog__block form .select-box {
  width: 260px;
}

@media (max-width: 979px) {
  .catalog__block form .select-box {
    width: 230px;
  }
}

@media (max-width: 767px) {
  .catalog__block form .select-box {
    width: 260px;
  }
}

.catalog__block form .select-box .jq-selectbox {
  width: 100%;
}

.catalog__block form .select-box .jq-selectbox__select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 28px 20px 11px;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: 0 0 5px rgba(15, 38, 116, 0.3);
          box-shadow: 0 0 5px rgba(15, 38, 116, 0.3);
  background: #fff;
  border-radius: 5px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #445170;
}

.catalog__block form .select-box .jq-selectbox__select-text {
  width: 100% !important;
}

.catalog__block form .select-box .jq-selectbox__select:after {
  content: "";
  display: block;
  width: 15px;
  height: 8px;
  background: url("../img/catalog/arrow.png") no-repeat center/cover;
  position: absolute;
  top: 29px;
  right: 11px;
  pointer-events: none;
}

.catalog__block form .select-box .jq-selectbox__dropdown {
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(15, 38, 116, 0.3);
          box-shadow: 0 0 5px rgba(15, 38, 116, 0.3);
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #445170;
  top: 55px !important;
  overflow: hidden;
}

.catalog__block form .select-box .jq-selectbox__dropdown ul {
  margin: 0 auto;
}

.catalog__block form .select-box .jq-selectbox__dropdown ul li {
  color: inherit;
}

.catalog__block form .select-box .jq-selectbox__trigger {
  display: none;
}

.catalog__block form .select-box .jq-selectbox.opened .jq-selectbox__select:after {
  -webkit-transform: translateY(-50%) scale(1, -1);
      -ms-transform: translateY(-50%) scale(1, -1);
          transform: translateY(-50%) scale(1, -1);
}

.catalog__block h6 {
  text-transform: uppercase;
  text-align: center;
}

.catalog__block h6 span {
  font-size: 24px;
  line-height: 24px;
  color: #faff00;
}

.catalog__block.black .catalog__block-img {
  top: -71px;
}

@media (max-width: 979px) {
  .catalog__block.black .catalog__block-img {
    top: 0;
  }
}

.catalog__block.black .catalog__block-img > figure {
  top: 65px;
  left: -372px;
}

.catalog__block.black .catalog__block-img > figure .ellipse {
  top: 24px;
  left: 104px;
}

.catalog__block.black .catalog__block-img__photo figure:nth-child(1) .ellipse {
  top: 39px;
  right: 79px;
}

.catalog__block.black .catalog__block-img__photo figure:nth-child(2) .ellipse {
  bottom: 17px;
  right: 154px;
}

.catalog__block.blue {
  margin: 182px auto;
}

@media (max-width: 979px) {
  .catalog__block.blue {
    margin: 80px auto;
  }
}

.catalog__block.blue .catalog__block-img {
  top: -68px;
  right: 190px;
}

@media (max-width: 1199px) {
  .catalog__block.blue .catalog__block-img {
    right: 0;
  }
}

@media (max-width: 979px) {
  .catalog__block.blue .catalog__block-img {
    top: 0;
  }
}

.catalog__block.blue .catalog__block-img > figure {
  top: 62px;
  right: -333px;
}

.catalog__block.blue .catalog__block-img > figure .ellipse {
  top: 4px;
  left: -350px;
}

.catalog__block.blue .catalog__block-img__photo figure:nth-child(1) {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 979px) {
  .catalog__block.blue .catalog__block-img__photo figure:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

.catalog__block.blue .catalog__block-img__photo figure:nth-child(1) .ellipse {
  top: 36px;
  right: -147px;
}

@media (max-width: 1199px) {
  .catalog__block.blue .catalog__block-img__photo figure:nth-child(1) .ellipse {
    right: 147px;
  }
}

.catalog__block.blue .catalog__block-img__photo figure:nth-child(2) {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 979px) {
  .catalog__block.blue .catalog__block-img__photo figure:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.catalog__block.blue .catalog__block-img__photo figure:nth-child(2) .ellipse {
  bottom: 20px;
  right: -72px;
}

@media (max-width: 1199px) {
  .catalog__block.blue .catalog__block-img__photo figure:nth-child(2) .ellipse {
    right: 72px;
  }
}

.catalog__block.woman .catalog__block-img {
  top: -64px;
}

@media (max-width: 979px) {
  .catalog__block.woman .catalog__block-img {
    top: 0;
  }
}

.catalog__block.woman .catalog__block-img > figure {
  top: 78px;
  left: -333px;
}

.catalog__block.woman .catalog__block-img > figure .ellipse {
  top: 4px;
  left: 65px;
}

.catalog__block.woman .catalog__block-img__photo figure:nth-child(1) .ellipse {
  top: 32px;
  right: 79px;
}

.catalog__block.woman .catalog__block-img__photo figure:nth-child(2) .ellipse {
  bottom: 24px;
  right: 154px;
}

.catalog:before, .catalog:after {
  /* скрыть на md */
  content: "";
  display: block;
  width: 268px;
  height: 298px;
  background: url("../img/1.png") no-repeat center/cover;
  position: absolute;
  z-index: -3;
}

@media (max-width: 979px) {
  .catalog:before, .catalog:after {
    display: none;
  }
}

.catalog:before {
  top: 663px;
  left: 0;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.catalog:after {
  bottom: 60px;
  right: 0;
}

/*
    photo style
 */
.photo {
  position: relative;
}

@media (max-width: 979px) {
  .photo {
    padding: 25px 0 47px;
  }
}

.photo:before {
  /* скрыть на xl */
  content: "";
  display: block;
  width: 268px;
  height: 298px;
  background: url("../img/1.png") no-repeat center/cover;
  position: absolute;
  bottom: 335px;
  left: 0;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

@media (max-width: 1365px) {
  .photo:before {
    display: none;
  }
}

/*
    description style
 */
.description {
  padding: 53px 0 113px;
  -webkit-box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1199px) {
  .description {
    padding-bottom: 0;
  }
}

@media (max-width: 979px) {
  .description {
    padding-top: 66px;
  }
}

.description__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1199px) {
  .description__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description__content-text {
  width: 510px;
}

@media (max-width: 1199px) {
  .description__content-text {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.description__content-text h3 {
  margin-bottom: 24px;
}

.description__content-text img {
  margin: 30px auto;
}

.description__content-text p:nth-of-type(3) {
  margin: 20px auto;
}

.description__content-text p span {
  font-size: inherit;
  line-height: inherit;
  color: #faff00;
}

.description__content-img {
  margin-top: 31px;
  position: relative;
  right: -55px;
}

@media (max-width: 1199px) {
  .description__content-img {
    margin-top: 0;
    right: 0;
  }
}

@media (max-width: 979px) {
  .description__content-img {
    margin-bottom: 15px;
  }
}

@media (max-width: 979px) {
  .description__content-img img {
    width: 100%;
  }
}

.description__content-block {
  position: absolute;
  bottom: -113px;
  right: -193px;
}

@media (max-width: 1199px) {
  .description__content-block {
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 12px;
  }
}

@media (max-width: 979px) {
  .description__content-block img {
    width: 100%;
  }
}

.description__content:before {
  content: "";
  display: block;
  width: 668px;
  height: 487px;
  background: url("../img/description/2.png") no-repeat center/cover;
  position: absolute;
  top: -144px;
  right: -301px;
  z-index: -1;
}

/*
    information style
 */
.information {
  background: -webkit-gradient(linear, left top, right top, from(#203dd7), to(#052441));
  background: -o-linear-gradient(left, #203dd7 0%, #052441 100%);
  background: linear-gradient(90deg, #203dd7 0%, #052441 100%);
  padding: 92px 0 181px;
  position: relative;
  z-index: 11;
}

@media (max-width: 1199px) {
  .information {
    padding-bottom: 65px;
  }
}

@media (max-width: 979px) {
  .information {
    padding-top: 42px;
  }
}

.information .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 979px) {
  .information .container {
    display: block;
  }
}

.information .container:after {
  /* скрыть на xl */
  content: "";
  display: block;
  width: 966px;
  height: 1128px;
  background: url("../img/delivery/shoe.png") no-repeat center/cover;
  position: absolute;
  top: -14px;
  right: -679px;
  z-index: 20;
}

@media (max-width: 1365px) {
  .information .container:after {
    display: none;
  }
}

.information .review {
  width: 50%;
}

@media (max-width: 979px) {
  .information .review {
    width: 100%;
  }
}

.information .review h3 {
  margin-bottom: 139px;
}

@media (max-width: 979px) {
  .information .review h3 {
    margin-bottom: 42px;
  }
}

.information .review__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 100px;
}

@media (max-width: 1199px) {
  .information .review__content {
    padding-right: 20px;
  }
}

.information .review__content-slider__item figure p.big {
  color: #faff00;
  margin-top: 10px;
}

.information .review__content-slider__item figure:first-child {
  margin-bottom: 51px;
}

@media (max-width: 979px) {
  .information .review__content-slider__item figure:first-child {
    margin-bottom: 28px;
  }
}

.information .review__content-nav {
  width: 145px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 51px 0 0 auto;
}

@media (max-width: 979px) {
  .information .review__content-nav {
    margin-top: 24px;
  }
}

.information .review__content-nav .prev-arrow, .information .review__content-nav .next-arrow {
  width: 15px;
  height: 27px;
  background: url("../img/arrow.png") no-repeat center/cover;
  cursor: pointer;
}

.information .review__content-nav .next-arrow {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.information .delivery {
  width: 50%;
  margin-top: 139px;
}

@media (max-width: 979px) {
  .information .delivery {
    width: 100%;
    max-width: 600px;
    margin: 65px auto 0;
  }
}

.information .delivery__content figure {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 286px;
}

.information .delivery__content figure p {
  font-size: 20px;
  color: #fff;
  width: calc(100% - 96px);
}

.information .delivery__content figure:before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
}

.information .delivery__content figure:first-child {
  width: 282px;
}

.information .delivery__content figure:first-child p {
  width: calc(100% - 92px);
}

.information .delivery__content figure:first-child:before {
  width: 75px;
  height: 75px;
  background: url("../img/delivery/1.png") no-repeat center/cover;
}

.information .delivery__content figure:nth-child(2) {
  margin: 10px 13px 55px auto;
}

.information .delivery__content figure:nth-child(2):before {
  background: url("../img/delivery/2.png") no-repeat center/cover;
}

.information .delivery__content figure:nth-child(3) {
  margin-left: 8px;
}

.information .delivery__content figure:nth-child(3):before {
  background: url("../img/delivery/3.png") no-repeat center/cover;
}

.information .delivery__content figure:last-child {
  margin: 8px 0 0 auto;
}

.information .delivery__content figure:last-child:before {
  background: url("../img/delivery/4.png") no-repeat center/cover;
}

.information .ellipse {
  /* скрыть на xl */
  width: 216px;
  height: 216px;
  bottom: -25px;
  left: -292px;
}

@media (max-width: 1365px) {
  .information .ellipse {
    display: none;
  }
}

/*
    footer style
 */
.footer {
  background: url("../img/footer/bg.png") no-repeat center/cover, -webkit-gradient(linear, left top, right top, from(#203dd7), to(#052441));
  background: url("../img/footer/bg.png") no-repeat center/cover, -o-linear-gradient(left, #203dd7 0%, #052441 100%);
  background: url("../img/footer/bg.png") no-repeat center/cover, linear-gradient(90deg, #203dd7 0%, #052441 100%);
  padding-bottom: 33px;
}

@media (max-width: 1199px) {
  .footer {
    background-position: bottom center;
    background-size: auto;
  }
}

.footer__content {
  position: relative;
}

.footer__content img.logo {
  width: 930px;
  position: absolute;
  top: -181px;
  left: -339px;
  margin: 0;
  z-index: 15;
}

@media (max-width: 1899px) {
  .footer__content img.logo {
    left: 0;
  }
}

@media (max-width: 1365px) {
  .footer__content img.logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 1199px) {
  .footer__content img.logo {
    position: relative;
    top: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 979px) {
  .footer__content img.logo {
    width: 100%;
  }
}

.footer__content p.title {
  max-width: 542px;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .footer__content p.title {
    margin: 0 auto;
    text-align: center;
  }
}

.footer__content .price {
  margin: 53px 0 64px 653px;
}

@media (max-width: 1199px) {
  .footer__content .price {
    margin: 17px auto 63px;
    text-align: center;
  }
}

.footer__content .price span.new-price {
  display: block;
}

@media (max-width: 1199px) {
  .footer__content .price span.new-price {
    display: inline-block;
  }
}

.footer__content-img {
  position: relative;
  position: absolute;
  top: 87px;
  left: -34px;
}

@media (max-width: 1199px) {
  .footer__content-img {
    position: relative;
    top: 0;
    left: 0;
  }
}

.footer__content-img img {
  position: relative;
  z-index: 9;
}

.footer__content-img h2 {
  top: 0;
  right: 44px;
}

.footer__content-img .ellipse {
  width: 450px;
  height: 450px;
  top: -47px;
  left: -105px;
}

.footer__content .to-order {
  margin-left: 767px;
}

@media (max-width: 1199px) {
  .footer__content .to-order {
    margin: 33px auto 53px;
  }
}

.footer__content .to-order h6 {
  top: 226px;
  right: 74px;
}

@media (max-width: 1365px) {
  .footer__content .to-order h6 {
    text-align: center;
    position: static;
    margin-top: 10px;
  }
}

.footer__content h6.address {
  color: #a2bcff;
  margin: 79px 0 0 806px;
}

@media (max-width: 1199px) {
  .footer__content h6.address {
    margin: 0 auto;
    text-align: center;
  }
}

.footer__content h6.address a {
  display: inline-block;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
