/*
    spray start
 */

.spray {
  position: relative;

  &__content {
    display: flex;
    justify-content: space-between;

    @include mq(lg) {
      align-items: center;
    }

    @include mq(md) {
      display: block;
    }

    &-img {
      width: 344px;

      @include mq(md) {
        margin: 0 auto 23px;
      }

      @include mq(xs) {
        width: 100%;
        max-width: 344px;
      }

      img {
        width: 100%;
      }
    }

    &-text {
      margin-top: 116px;
      width: calc(100% - 378px);

      @include mq(lg) {
        margin-top: 0;
      }

      @include mq(md) {
        width: 100%;
      }

      h3 {

      }

      p {
        max-width: 669px;
        margin: 10px 0 20px;

        @include mq(md) {
          max-width: 100%;
        }
      }

      h4 {
        text-transform: uppercase;
        max-width: 520px;

        @include mq(md) {
          max-width: 100%;
        }

        span {
          font-size: 36px;
          color: $yellow;

          @include mq(xs) {
            font-size: inherit;
          }
        }
      }

      form {
        margin-top: 21px;

        @include mq(lg) {
          max-width: 540px;
        }

        @include mq(md) {
          margin: 32px auto 0;
        }

        @include mq(xs) {
          width: 89%;
          min-width: 260px;
          max-width: 350px;
        }

        .form-group {

          @include mq(xs) {
            width: 100%;
          }

          &.tel {

            @include mq(xs) {
              margin: 10px auto 20px;
            }
          }

          &.order {

            @include mq(xs) {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  &:after {
    /* скрыть на xl */
    content: "";
    display: block;
    width: 268px;
    height: 298px;
    background: url("../img/1.png") no-repeat center/cover;
    position: absolute;
    top: 0;
    right: 0;

    @include mq(xxl) {
      right: -25px;
    }

    @include mq(xl) {
      display: none;
    }
  }
}