/*
    catalog style
 */

.catalog {
  padding: 155px 0 103px;
  position: relative;

  @include mq(md) {
    padding: 62px 0 52px;
  }

  h3 {
    text-align: center;
    margin-bottom: 92px;

    @include mq(md) {
      margin-bottom: 41px;
    }
  }

  &__block {
    position: relative;

    @include mq(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mq(xs) {
      display: block;
    }

    h4 {
      background: $button;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $yellow;
      text-transform: uppercase;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background: transparent;
      }
    }

    ul {
      margin: 20px auto;

      @include mq(xs) {
        margin: 8px auto 29px;
      }

      li {

        p {
          line-height: 30px;

          strong {
            display: inline-block;
            width: 205px;

            @include mq(lg) {
              width: 190px;
            }

            @include mq(xs) {
              width: auto;
            }
          }
        }
      }
    }

    .price {

      @include mq(md) {
        margin-bottom: 55px;
      }

      span {

        &.old-price {
          font-size: 24px;
          line-height: 24px;
        }

        &.new-price {
          font-size: 48px;
          line-height: 48px;
        }
      }
    }

    &-img {
      position: relative;
      position: absolute;
      right: -36px;

      @include mq(lg) {
        right: 0;
      }

      @include mq(md) {
        position: relative;
        width: 100%;
      }

      figure {

        .ellipse {
          z-index: -1;
        }
      }

      >figure {

        @include mq(lg) {
          display: none;
        }

        @include mq(md) {
          display: block;
        }

        @include mq(s) {
          position: relative;
          max-width: 411px;
          margin: 0 auto;
        }

        @include mq(xs) {

        }

        //position: absolute;
        //
        //@include mq(lg) {
        //  display: none;
        //}
        //
        //@include mq(md) {
        //  display: block;
        //}
        //
        //@include mq(s) {
        //  position: relative;
        //}
        //
        //@include mq(xs) {
        //  width: 100%;
        //}
        //
        //img {
        //
        //  @include mq(xs) {
        //    width: 116%;
        //    min-width: 338px;
        //    position: relative;
        //    left: -16%;
        //  }
        //}

        img {
          margin: 0;
          position: absolute;

          @include mq(s) {
            position: static;
            margin: 0 auto;
          }

          @include mq(xs) {
            width: 100%;
          }
        }

        .ellipse {
          width: 350px;
          height: 350px;
          left: -268px;

          @include mq(md) {
            left: 0;
          }

          @include mq(s) {
            top: -33px !important;
            left: 55px !important;
          }

          @include mq(xs) {
            width: 254px;
            height: 253px;
            left: 30px !important;
          }
        }
      }

      &__photo {
        width: 442px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq(md) {
          margin-left: auto;
        }

        @include mq(s) {
          margin: 0 auto 0;
        }

        @include mq(xs) {
          width: 100%;
          max-width: 442px;
          margin-top: 11px;
        }

        figure {
          width: 49%;
          max-width: 216px;

          @include mq(s) {
            position: relative;
          }

          a {

            img {

            }
          }

          .ellipse {

          }

          &:nth-child(1) {

            a {

              &:nth-child(2) {
                margin: 10px auto;

                @include mq(xs) {
                  margin: 6px auto;
                }
              }
            }

            .ellipse {
              width: 200px;
              height: 200px;

              @include mq(s) {
                width: 150px;
                height: 150px;
              }
            }
          }

          &:nth-child(2) {

            a {

              &:nth-child(1) {
                margin-bottom: 10px;

                @include mq(xs) {
                  margin-bottom: 6px;
                }
              }
            }

            .ellipse {
              width: 150px;
              height: 150px;

              @include mq(s) {
                width: 200px;
                height: 200px;
              }
            }
          }
        }
      }
    }

    form {
      margin: 50px auto 26px;
      box-sizing: border-box;
      padding: 0 36px;

      @include mq(xl) {
        padding: 0;
      }

      @include mq(lg) {
        max-width: 840px;
      }

      @include mq(s) {
        max-width: 540px;
        align-items: flex-end;
        margin-top: 64px;
      }

      @include mq(xs) {
        display: block;
        width: 89%;
        min-width: 260px;
        max-width: 350px;
      }

      .form-group {

        @include mq(md) {
          width: 230px;
        }

        @include mq(s) {
          width: 260px;
        }

        @include mq(xs) {
          width: 100%;
        }

        &.tel {

          @include mq(xs) {
            margin: 10px auto;
          }
        }

        &.order {

          @include mq(md) {
            width: 260px;
          }

          @include mq(s) {
            margin:20px 0 0 auto;
          }

          @include mq(xs) {
            width: 100%;
            margin: 10px auto 0;
          }

          button {
            z-index: 9;
          }
        }
      }

      .select-box {
        width: 260px;

        @include mq(md) {
          width: 230px;
        }

        @include mq(s) {
          width: 260px;
        }

        @include mq(xs) {
          width: 100%;
        }

        .jq-selectbox {
          width: 100%;

          &__select {
            box-sizing: border-box;
            width: 100%;
            height: auto;
            padding: 28px 20px 11px;
            border: none;
            text-shadow: none;
            box-shadow: $shadow-second;
            background: #fff;
            border-radius: 5px;
            font-family: $hb, sans-serif;
            font-size: 16px;
            line-height: 16px;
            color: #445170;


            &-text {
              width: 100% !important;
            }

            &:after {
              content: "";
              display: block;
              width: 15px;
              height: 8px;
              background: url("../img/catalog/arrow.png") no-repeat center/cover;
              position: absolute;
              top: 29px;
              right: 11px;
              pointer-events: none;
            }
          }

          &__dropdown {
            border-radius: 5px;
            border: none;
            box-shadow: $shadow-second;
            font-family: $hb, sans-serif;
            font-size: 16px;
            line-height: 16px;
            color: #445170;
            top: 55px !important;
            overflow: hidden;

            ul {
              margin: 0 auto;

              li {
                color: inherit;
              }
            }
          }

          &__trigger {
            display: none;
          }

          &.opened {

            .jq-selectbox__select {

              &:after {
                transform: translateY(-50%) scale(1, -1);
              }
            }
          }
        }
      }
    }

    h6 {
      text-transform: uppercase;
      text-align: center;

      span {
        font-size: 24px;
        line-height: 24px;
        color: $yellow;
      }
    }

    &.black {

      .catalog__block-img {
        top: -71px;

        @include mq(md) {
          top: 0;
        }

        >figure {

          img {
            transform: rotate(-23.1deg);
            top: 137px;
            left: -344px;

            @include mq(md) {
              left: -35px;
            }

            @include mq(xs) {
              transform: rotate(-23deg);
            }
          }

          .ellipse {
            top: 89px;
          }
        }

        //>figure {
        //  top: 65px;
        //  left: -372px;
        //
        //  @include mq(md) {
        //    left: -63px;
        //  }
        //
        //  @include mq(s) {
        //    max-width: 466px;
        //    top: 0;
        //    left: 50%;
        //    transform: translateX(-50%);
        //  }
        //
        //  .ellipse {
        //    top: 24px;
        //    left: 104px;
        //
        //    @include mq(s) {
        //      top: 18px;
        //      left: 75px;
        //    }
        //
        //    @include mq(xs) {
        //      top: 18px;
        //      left: 30px;
        //    }
        //  }
        //}

        &__photo {

          //@include mq(s) {
          //  margin: -50px auto 0;
          //}
          //
          //@include mq(xs) {
          //  margin-top: 0;
          //}

          figure {

            &:nth-child(1) {

              .ellipse {
                top: 39px;
                right: 79px;

                @include mq(s) {
                  top: calc(100% - 106px);
                  left: -9px;
                }
              }
            }

            &:nth-child(2) {

              .ellipse {
                bottom: 17px;
                right: 154px;

                @include mq(s) {
                  top: -14px;
                  right: -14px;
                }
              }
            }
          }
        }
      }
    }

    &.blue {
      margin: 182px auto;

      @include mq(md) {
        margin: 80px auto;
      }

      .catalog__block-img {
        top: -68px;
        right: 190px;

        @include mq(lg) {
          right: 0;
        }

        @include mq(md) {
          top: 0;
        }

        >figure {

          img {
            top: 144px;
            right: -288px;
            transform: rotate(34.01deg);

            @include mq(xl) {
              right: -265px;
            }

            @include mq(md) {
              left: -52px;
              transform: rotate(-34.01deg) scale(-1, 1);
            }

            @include mq(xs) {
              transform: rotate(-23deg) scale(-1, 1);
            }
          }

          .ellipse {
            top: 86px;
            left: -42px;

            @include mq(md) {
              left: 0;
            }
          }
        }

        //>figure {
        //  top: 62px;
        //  right: -333px;
        //
        //  @include mq(md) {
        //    width: 468px;
        //    transform: scale(-1, 1);
        //    left: -95px;
        //  }
        //
        //  @include mq(s) {
        //    top: 0;
        //    left: 50%;
        //    transform: translateX(-50%) scale(-1, 1);
        //  }
        //
        //  @include mq(xs) {
        //    width: 100%;
        //  }
        //
        //  img {
        //
        //    @include mq(xs) {
        //      width: 127%;
        //    }
        //  }
        //
        //  .ellipse {
        //    top: 4px;
        //    left: -350px;
        //
        //    @include mq(md) {
        //      left: 0;
        //    }
        //
        //    @include mq(s) {
        //      top: 18px;
        //      left: 75px;
        //    }
        //
        //    @include mq(xs) {
        //      top: 18px;
        //      left: 30px;
        //    }
        //  }
        //}

        &__photo {

          //@include mq(s) {
          //  margin: -100px auto 0;
          //}
          //
          //@include mq(xs) {
          //  margin-top: 0;
          //}

          figure {

            &:nth-child(1) {
              order: 2;

              @include mq(md) {
                order: 1;
              }

              .ellipse {
                top: 36px;
                right: -147px;

                @include mq(lg) {
                  right: 147px;
                }

                @include mq(s) {
                  top: calc(100% - 106px);
                  left: -9px;
                }
              }
            }

            &:nth-child(2) {
              order: 1;

              @include mq(md) {
                order: 2;
              }

              .ellipse {
                bottom: 20px;
                right: -72px;

                @include mq(lg) {
                  right: 72px;
                }

                @include mq(s) {
                  top: -14px;
                  right: -14px;
                }
              }
            }
          }
        }
      }
    }

    &.woman {

      .catalog__block-img {
        top: -64px;

        @include mq(md) {
          top: 0;
        }

        >figure {

          img {
            top: 151px;
            left: -316px;
            transform: rotate(-23deg);

            @include mq(md) {
              left: -30px;
            }
          }

          .ellipse {
            top: 82px;
          }
        }

        //>figure {
        //  top: 78px;
        //  left: -333px;
        //
        //  @include mq(md) {
        //    left: -46px;
        //  }
        //
        //  @include mq(s) {
        //    max-width: 445px;
        //    top: 0;
        //    left: 50%;
        //    transform: translateX(-50%);
        //  }
        //
        //  img {
        //
        //    @include mq(xs) {
        //      left: -11%;
        //    }
        //  }
        //
        //  .ellipse {
        //    top: 4px;
        //    left: 65px;
        //
        //    @include mq(s) {
        //      top: 18px;
        //      left: 75px;
        //    }
        //
        //    @include mq(xs) {
        //      top: 18px;
        //      left: 30px;
        //    }
        //  }
        //}

        &__photo {

          //@include mq(s) {
          //  margin: -50px auto 0;
          //}
          //
          //@include mq(xs) {
          //  margin-top: 0;
          //}

          figure {

            &:nth-child(1) {

              .ellipse {
                top: 32px;
                right: 79px;

                @include mq(s) {
                  top: calc(100% - 106px);
                  left: -9px;
                }
              }
            }

            &:nth-child(2) {

              .ellipse {
                bottom: 24px;
                right: 154px;

                @include mq(s) {
                  top: -14px;
                  right: -14px;
                }
              }
            }
          }
        }
      }
    }
  }

  &:before, &:after {
    /* скрыть на md */
    content: "";
    display: block;
    width: 268px;
    height: 298px;
    background: url("../img/1.png") no-repeat center/cover;
    position: absolute;
    z-index: -3;

    @include mq(md) {
      display: none;
    }
  }

  &:before {
    top: 663px;
    left: 0;
    transform: scale(-1, 1);
  }

  &:after {
    bottom: 60px;
    right: 0;
  }
}