/*
    header style
 */

.header {
  background: url("../img/header/header-bg.png") no-repeat center/cover, $gradient;
  padding: 50px 0 61px;
  position: relative;

  @include mq(md) {
    padding: 23px 0 48px;
  }

  &__content {
    position: relative;

    @include mq(md) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    img.logo {
      margin-left: 41.5%;

      @include mq(md) {
        margin: 0 auto;
        order: 1;
      }

      @include mq(xs) {
        width: 44%;
        min-width: 130px;
        max-width: 180px;
      }
    }

    p.title {
      margin: 20px 0 87.3px 41.5%;

      @include mq(lg) {
        position: relative;
        z-index: 11;
      }

      @include mq(md) {
        margin: 10px auto -68px;
        text-align: center;
        order: 2;
      }

      @include mq(s) {
        margin-bottom: -8%;
      }

      @include mq(xs) {
        margin-bottom: -9%;
      }
    }

    &-img {
      position: relative;
      position: absolute;
      top: -95px;
      left: 0;

      @include mq(lg) {
        top: 0;
        left: -30px;
      }

      @include mq(md) {
        position: relative;
        top: 0;
        left: 0;
        order: 3;
      }

      @include mq(s) {
        max-width: 644px;
      }

      img {
        position: relative;
        z-index: 9;

        @include mq(s) {
          width: 100%;
        }

        @include mq(xs) {
          width: 107%;
          min-width: 311px;
          max-width: 644px;
          position: relative;
          left: -6%;
        }
      }

      h1 {
        bottom: -65px;
        right: 124px;

        @include mq(md) {
          bottom: -25px;
          right: 75px;
        }

        @include mq(s) {
          right: 0;
        }
      }

      .ellipse {
        width: 250px;
        height: 250px;
        bottom: -34px;
        right: calc(100% - 39px);

        @include mq(md) {
          width: 67px;
          height: 67px;
          top: 48px;
          right: 15px;
        }

        @include mq(xs) {
          right: 8px;
        }
      }
    }

    .to-order {
      margin-left: 34.25%;

      @include mq(lg) {
        margin-left: calc(41.5% + 120px);
      }

      @include mq(md) {
        order: 5;
        margin: 0 auto 56px;
        width: 320px;
      }

      @include mq(xs) {
        width: 100%;
        max-width: 320px;
      }

      h6 {
        bottom: 210px;
        left: 103px;

        @include mq(lg) {
          text-align: center;
          position: static;
          margin-top: 10px;
        }
      }
    }

    .price {
      margin: 57px 0 241px 41.5%;

      @include mq(lg) {
        margin: 57px 0 241px calc(41.5% + 156px);
      }

      @include mq(md) {
        order: 4;
        margin: -75px 0 21px;
      }

      @include mq(xs) {
        margin-top: -13%;
      }

      span {

        &.old-price {

        }

        &.new-price {
          display: block;
        }
      }
    }

    ul {
      display: flex;
      box-sizing: border-box;
      padding: 0 91px;

      @include mq(md) {
        order: 6;
        padding: 0;
      }

      @include mq(md) {
        display: block;
        max-width: 440px;
        margin: 0 auto;
      }

      li {
        box-sizing: border-box;
        padding-left: 40px;
        position: relative;

        p {
          color: $white;
          width: 218px;

          @include mq(md) {
            width: auto;
          }
        }

        &:before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          background: $button;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }

        &:nth-child(2) {
          margin: 0 auto;

          @include mq(md) {
            margin: 33px auto;
          }
        }
      }
    }
  }

  &:after {
    /* скрыть на xl */
    content: "";
    display: block;
    width: 480px;
    height: 100%;
    background: url("../img/header/man.png") no-repeat center/cover;
    position: absolute;
    top: 0;
    right: 0;

    @include mq(xxl) {
      right: -280px;
    }

    @include mq(xl) {
      display: none;
    }
  }
}